<%- include('head') %>

<script>
  window.AWS_CONNECT_URL = '<%= AWS_CONNECT_URL %>';
</script>

<script src="<%= ASSETS_URL %>/connect-streams-min.js"></script>
<script src="<%= ASSETS_URL %>/homepage.js"></script>
<link href="<%= ASSETS_URL %>/homepage.css" rel="stylesheet" />

<div id="container">
  <div id="header">
    <h1>Softphone</h1>

    <div id="main-bar">
      <form id="caller-id-form">
        <fieldset>
          <label for="caller-id-select">Caller ID:</label>
          <select id="caller-id-select">
            <option value="">Default</option>
            <% customers.forEach((item) => { %>
            <option value="<%= item.OutboundNumber %>">
              <%= item.CustomerName %> (<%= item.OutboundNumber %>)
            </option>
            <% }) %>
          </select>
          <span id="caller-id-loader" class="loader small" hidden></span>
          <span id="caller-id-checkmark" class="success-checkmark" hidden></span>
        </fieldset>
      </form>
      <div id="profile-bar">
        <%= user.email %> |
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>

  <div id="main">
    <div id="ccp-container"></div>
  </div>
</div>
