<%- include('head') %>

<script>
  window.AWS_CONNECT_URL = '<%= AWS_CONNECT_URL %>';
</script>

<script src="<%= ASSETS_URL %>/connect-streams-min.js"></script>
<script src="<%= ASSETS_URL %>/homepage.js"></script>
<link href="<%= ASSETS_URL %>/homepage.css" rel="stylesheet" />

<div id="container">
  <div id="header">
    <h1>Softphone</h1>

    <div id="header-bar">
      <form id="customers-form">
        <fieldset disabled>
          <select id="customers-select" required>
            <option value="">Select a customer</option>
            <% customers.forEach((item) => { %>
            <option value="<%= JSON.stringify(item) %>"><%= item.CustomerName %></option>
            <% }) %>
          </select>
          <button>Call now</button>
        </fieldset>
      </form>
      <div id="menu-bar">
        <%= user.email %> |
        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>

  <div id="main">
    <div id="phone-app"></div>
  </div>
</div>
